.header {
  background-image: url("/imgs/home_landing_page.jpeg");
  background-position: center right;
  background-size: cover;
}

.header__layout{
  background: linear-gradient(116deg,  #a9c4ff 24%, #a3bef9 52%, transparent);
}

.signup__section {
  background-image: url("./../../public/imgs/home_landing.jpeg");
  background-position: center left;
  background-size: cover;
}

.amenities .amenity__text {
  @apply text-muted-foreground text-sm;
}

.amenities .amenity:nth-child(1) .amenity__icon {
  @apply text-[coral]
}
.amenities .amenity:nth-child(2) .amenity__icon {
  @apply text-indigo-500;
}
.amenities .amenity:nth-child(3) .amenity__icon {
  @apply text-green-600;
}
.amenities .amenity:nth-child(4) .amenity__icon {
  @apply text-purple-600;
}
.amenities .amenity:nth-child(5) .amenity__icon {
  @apply text-yellow-600;
}
